/* You can add global styles to this file, and also import other style files */
.inter-h1 {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
    color: #ffffff !important;
}
 

.inter-h2 {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    color: #ffffff !important;
}
 

.inter-h3 {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    color: #ffffff !important; 
}
 

.inter-p {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: #ffffff !important; 
}
 
* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #f5f5f5;
}