<div class="container d-flex justify-content-center align-items-center mt-5 pt-5">
    <div class="card shadow-lg border-0 mt-5" style="max-width: 800px; width: 100%;">
        <div class="card-body p-4">
            <h4 class="text-center fw-bold mb-3">Delete your account?</h4>

            <div class="d-flex flex-column flex-md-row justify-content-between gap-3">
                <button class="btn btn-success flex-fill btn-lg" (click)="yes()">Yes, continue</button>
                <button class="btn btn-danger flex-fill btn-lg" (click)="no()">No, bring me back</button>
            </div>

        </div>
    </div>
</div>