<nav class="navbar navbar-expand-lg shadow-lg bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/trending">
      <img src="/favicon.ico" style="height: 6vh;">
    </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="/trending">Trending <i class="bi bi-fire"></i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/mercato">Crypto Market <i class="bi bi-currency-bitcoin"></i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/transazioni" [class.disabled]="!this.authService.isLoggedIn()">Add
            Transaction <i class="bi bi-wallet2"></i></a>
        </li>

        @if(this.authService.isLoggedIn()) {
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              My Profile <i class="bi bi-person-circle mx-1"></i>
            </a>
            <ul class="dropdown-menu dropdown-menu-end shadow-lg">
              <li>
                <a class="dropdown-item text-black" routerLink="/profilo">Profile Settings</a>
              </li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li>
                <button class="dropdown-item text-danger" (click)="logout()">Logout</button>
              </li>
            </ul>
          </li>
        }
        @else {
          <li class="nav-item">
            <a class="nav-link" routerLink="/login">Sign Up & Login <i class="bi bi-box-arrow-in-left"></i></a>
          </li>
        }
      </ul>
    </div>
  </div>
</nav>